%% -*- erlang -*-
%% Config file for canopen application
{deps_dir, ["deps"]}.
{deps, [{can, ".*", {git, "https://github.com/tonyrog/can.git"}},
	{ale, ".*", {git, "https://github.com/tonyrog/ale.git"}}
       ]}.
{erl_first_files, ["co_app", "co_stream_app", "co_tpdo_app"]}. %% Behaviours
{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{sub_dirs, ["src"]}.
{ct_extra_params, " -ct_config test/co_test.cfg"}.
