%% -*- erlang -*-
%% CanOpen
%% Configuration file for included erlang applications.
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 %% Lager config, see lager documentation
 {lager, [{log_root, "log/lager"},
	  {handlers, [
		      {lager_console_backend, info},
		      {lager_file_backend, 
		       [{file, "error.log"}, {level, error}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]},
		      {lager_file_backend, 
		       [{file, "console.log"}, {level, info}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]}
		     ]}
	  ]},
  %% CANopen config. For details on options see co_api.erl
  {canopen, [
 	    {serial, 16#03000301}, 
	    {options, [{use_serial_as_xnodeid, true}, 
	               {dict, default},
%%		       {debug, true}, %% If you want trace output
		       {vendor,16#2A1}]}
	    ]}
].

